<h1>GIT LAUNCHED &#x1F680;</h1>
<ul>
  <% launchers.each do |launcher| %>
  <li><a href="http://github.com/<%= launcher["username"] %>"><%= launcher["name"] %></a> really likes
      <a href="<%= launcher["starred_repo_url"] %>"><%= launcher["starred_repo"] %></a>, which is
      "<%= launcher["starred_repo_description"] %>"
    </li>
  <% end %>
  <%= popular_repos %>
</ul>
